- name: create etcd user
  become: true
  user:
    name: etcd
    system: yes
    shell: /bin/false
    home: /var/lib/etcd
    create_home: no
  tags: [ add_service ]

- name: create a data directory
  become: true
  file:
    path: /var/lib/etcd/{{ inventory_hostname }}.etcd
    state: "{{ item }}"
    owner: etcd
    group: etcd
    mode: 0700
  with_items:
    - absent
    - directory
  tags: [ add_service ]

- name: create a etcd service
  become: true
  copy:
    src: etcd.service
    dest: /etc/systemd/system/etcd.service
    remote_src: False
    owner: root
    group: root
    mode: 0644
  tags: [ add_service ]

- name: create directory for etcd configuration
  become: true
  file:
    path: /etc/etcd
    state: directory
    owner: etcd
    group: etcd
    mode: 0755
  tags: [ add_service ]

- name: create configuration file for etcd
  become: true
  template:
    src: etcd.conf.yaml.j2
    dest: /etc/etcd/etcd.conf.yaml
    owner: etcd
    group: etcd
    mode: 0600
  tags: [ add_service ]

- name: enable the etcd service
  become: true
  systemd:
    name: etcd
    enabled: yes
  tags: [ enable_etcd_service ]

- name: daemon reload
  become: true
  systemd:
    daemon_reload: yes
  tags: [ daemon_reload ]

- name: Make sure a service is running
  become: true
  systemd: 
    state: started 
    name: etcd
  tags: [ start_etcd_service ]